 body {
            font-family: Arial, sans-serif;
            background-color: #1d0848;
            color: #e7dede;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #eff2ef;
            color: rgb(250, 237, 237);
            text-align: center;
            padding: 2em;
        }

        h1 {
            margin: 0;
        }

        .container {
            max-width: 900px;
            margin: 2em auto;
            background-color: #0d0f10;  
            padding: 2em;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(135, 61, 61, 0.1);
            text-align: center;
        }

        h2 {
            color: #c3c3c5;
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        h3 {
            font-size: 1.1em;
            color: #cec8c8;
            margin: 0.5em 0;
        }